body {
    font-family: 'Crushed', cursive;

    background: #f1f1f1;
}

.navbar-brand {
    color: #ff7041 !important;
}

.navbar-brand:hover {
    color: #FFF !important;
}

.nav-link span:hover {
   color: #ff7041 !important;
}

.thumb {
    margin-top: 30px;
}

.btn-primary {
    background-color: #ff7041 !important;
    border-color: #ff7041 !important;
}

.btn-primary:hover {
    background-color: #ff561f !important;
    border-color: #ff561f !important;
    cursor: pointer;
}

.upload-section {
    padding: 0 50px 0 50px;
}

.thumb a {
    color: #ff7041 !important;
}

.thumb a:hover {
    cursor: pointer;
    text-decoration: underline !important;
}

footer {
    margin: 50px 0;
}

.page-item .page-link {
    color: #ff7041;
}

.video-gallery {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #FFF !important;
    padding: 30px;
}

.video-btn-group {
    margin-top: 10px;
}

.video-comment {
    margin-bottom: 10px;
}

@media screen and (min-width: 600px) {
    #navSearchForm input[type=text] {
        width: 500px !important;
    }
}

::-webkit-input-placeholder { font-family: 'Crushed', cursive; }
::-moz-placeholder { font-family: 'Crushed', cursive; } /* firefox 19+ */
:-ms-input-placeholder { font-family: 'Crushed', cursive; } /* ie */
input:-moz-placeholder { font-family: 'Crushed', cursive; }

video {
    width: 100%;
    height: auto;
}