@(videos: Seq[VideoGallery])

@main("Cat Colosseum") {

    @header()

    <!-- Page Content -->
    <div class="container video-gallery">

        <div class="row">
            @videos.map { video =>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail img-hover" href="/watch/@video.id">
                        <img class="img-fluid img-thumbnail" src="@video.thumbnailLocation" alt="">
                    </a>
                    <div>
                        <h5>
                            <a href="/watch/@video.id">@video.title</a>
                        </h5>
                    </div>
                    <div>
                        <span class="badge badge-pill badge-default"><i class="fa fa-thumbs-up" aria-hidden="true"></i> @video.likes</span>
                        <span class="badge badge-pill badge-default"><i class="fa fa-thumbs-down" aria-hidden="true"></i> @video.dislikes</span>
                        <span class="badge badge-pill badge-default"><i class="fa fa-eye" aria-hidden="true"></i> @video.views</span>
                    </div>
                    <div>
                        <small class="text-muted">Uploaded @video.uploadedAgo</small>
                    </div>
                </div>
            }
        </div>

    </div>

    <div class="container">
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </li>
            </ul>
        </nav>
    </div>
}


