@(video: Video)

@main("Cat Colosseum") {

    @header()

    <!-- Page Content -->
    <div class="container video-gallery">

        <div class="row">
            <h1>@video.title</h1>

            <div class="col-md-12">
                <video width="600" height="200" controls>
                    <source src=".@video.videoLocation" type="video/mp4">
                    Your web browser does not support HTML5 video :(
                </video>
            </div>
            <div class="video-btn-group">
                <button type="button" class="btn btn-primary btn-lg"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like</button>
                <button type="button" class="btn btn-primary btn-lg"><i class="fa fa-thumbs-down" aria-hidden="true"></i> Dislike</button>
            </div>

        </div>

    </div>

    <div class="container video-gallery">

        <div class="row">
            <h3>Comments • </h3>
        </div>
        <form>
            <div class="row">
                <div class="col-md-12 video-comment">
                    <textarea id="videoCommentTextArea" class="form-control" rows="5"></textarea>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary pull-right">Comment</button>
                </div>
            </div>
        </form>

    </div>
}